@use '@sass/variables' as *;
@use '@sass/helpers' as *;
@use 'sass:color';

.button {
  color: var(--text-active);
  background-color: color.adjust($color-grey, $lightness: 30%);
  padding: fluid(12, 18);
  border-radius: $border-radius-xl;

  font-size: fluid(16, 20);
  text-transform: uppercase;
  letter-spacing: fluid(2, 4);

  transition: all $transition-fast;

  @include hover {
    transform: translateY(rem(-1));
    letter-spacing: fluid(3, 5);
    background-color: color.adjust($color-grey, $lightness: 10%);
    box-shadow: $box-shadow-lg;
  }
  &:active {
    transform: translateY(rem(1));
    letter-spacing: fluid(2, 4);
  }
}
