@use '@sass/variables' as *;
@use '@sass/helpers' as *;
@use 'sass:color';

.button {
  color: $color-white;
  background-color: color.adjust($color-grey, $lightness: 30%);
  padding: fluid(12, 18);
  border-radius: $border-radius-xl;

  font-size: fluid(16, 20);
  text-transform: uppercase;
  letter-spacing: fluid(4, 6);

  transition:
    background-color $transition-fast,
    transform $transition-normal;

  @include hover {
    transform: translateY(rem(-3));
    background-color: color.adjust($color-grey, $lightness: 10%);
  }
  &:active {
    transform: translateY(rem(2));
  }
}
