@use '@sass/variables' as *;
@use '@sass/helpers' as *;

.main {
  position: relative;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: fluid(4, 14);

  text-transform: uppercase;
}

.mainTitle {
  font-family: $font-family-secondary;
  font-size: fluid(42, 72);
  font-weight: $font-weight-bold;
  letter-spacing: rem(12);
}

.mainDecription {
  max-width: fluid(300, 600);

  font-family: $font-family-base;
  word-spacing: $spacing-sm;
  line-height: rem(24);
  text-align: center;
}

.mainBackgroundInfo {
  width: 100%;
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @include mobile {
    flex-direction: column;
    gap: $spacing-xl;
  }
}

.mainBackgroundInfoTitle {
  font-size: fluid(28, 36);
  font-weight: $font-weight-normal;
  letter-spacing: fluid(6, 12);
}

.mainQuote {
  max-width: rem(400);

  font-family: $font-family-base;
  font-style: italic;
  letter-spacing: fluid(2, 4);
  text-transform: none;

  b {
    font-style: normal;
  }

  @include mobile {
    align-self: flex-end;
  }
}
