@use '@sass/variables' as *;
@use '@sass/helpers' as *;

.main {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: fluid(4, 14);

  text-transform: uppercase;
}

.mainTitle {
  font-family: $font-family-secondary;
  font-size: fluid(42, 72);
  font-weight: $font-weight-bold;
  letter-spacing: rem(12);
}

.mainDecription {
  width: fluid(300, 600);

  font-family: $font-family-base;
  word-spacing: $spacing-sm;
  text-align: center;
}
