@use '../variables' as *;
@use '../helpers/' as *;

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;

  background-color: var(--secondary-color);
  color: var(--text-active);

  font-family: $font-family-base;
  font-size: rem(16);
  font-weight: $font-weight-normal;

  transition: all $transition-fast;
}

a {
  color: var(--primary-color);
}
