@font-face {
  font-family: Comfortaa;
  src: url('@fonts/Comfortaa/static/Comfortaa-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: wrap;
}

@font-face {
  font-family: Comfortaa;
  src: url('@fonts/Comfortaa/static/Comfortaa-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: wrap;
}

@font-face {
  font-family: Comfortaa;
  src: url('@fonts/Comfortaa/static/Comfortaa-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: wrap;
}

@font-face {
  font-family: Rubic;
  src: url('@fonts/Rubic/static/Rubic-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: wrap;
}

@font-face {
  font-family: Rubic;
  src: url('@fonts/Rubic/static/Rubic-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: wrap;
}

@font-face {
  font-family: Rubic;
  src: url('@fonts/Rubic/static/Rubic-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: wrap;
}
