@use '@sass/variables' as *;
@use '@sass/helpers' as *;

.nav {
  position: relative;
  z-index: $z-index-modal;

  .navList {
    position: relative;
    font-size: fluid(14, 16);

    display: flex;
    flex-direction: row;
    gap: fluid(16, 42);

    .navListLink {
      anchor-name: --link;
      display: block;
      width: 100%;
      color: var(--primary-color);
      border-radius: $border-radius-xl;
      padding-inline: $spacing-lg;
      transition:
        color $transition-normal,
        transform $transition-normal;

      &:hover,
      &.active {
        anchor-name: --active-link;
      }

      &.active {
        color: #fff;
        transform: scale(1.1);
      }
    }
  }

  @include mobile {
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    right: -100%;
    width: rem(254);
    height: 100vh;
    padding: rem(20) rem(32);
    box-shadow: $box-shadow-lg;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: right $transition-normal;

    .navList {
      width: 100%;
      flex-direction: column;
      gap: $spacing-xl;
      backdrop-filter: blur(50px);
    }

    &.active {
      right: 0 !important;
    }

    &.active ~ .burger {
      z-index: $z-index-modal;
      transition-delay: 0.3s;
    }
  }
}

.navOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: $z-index-modal - 1;
  opacity: 0;
  visibility: hidden;
  transition: all $transition-normal;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.navHighlight {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  border: $border-width solid $color-white;
  border-radius: $border-radius-lg;
  pointer-events: none;
  box-shadow: $box-shadow-lg;
  transition: all $transition-normal;

  position-anchor: --active-link;

  left: anchor(left);
  right: anchor(right);

  height: calc(anchor-size(height) * 2);

  top: anchor(center);
  transform: translateY(-50%);
}
