@use '@sass/variables' as *;
.complex-gradient {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: var(--complex-gradient-active);
  background-size: 400% 400%;
  box-shadow: inset 0 0 250px 135px var(--box-shadow-color-active);
  z-index: -1;
  animation: gradient-shift 8s ease infinite;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
