@use '@sass/variables' as *;
@use '@sass/helpers' as *;

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: $z-index-modal;

  transition:
    transform $transition-normal,
    z-index 0s 0.3s;

  span {
    display: block;
    height: 3px;
    width: 100%;
    background: $color-black;
    border-radius: 2px;
    transition: 0.3s;
  }

  @include mobile {
    display: flex;
  }

  &.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  &.active span:nth-child(2) {
    opacity: 0;
  }
  &.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}
