:root {
  --complex-gradient-light:
    radial-gradient(at 53.28% 60.18%, hsla(236, 50%, 93%, 1) 0%, transparent 100%),
    radial-gradient(at 6.61% 61.35%, hsla(210, 46%, 79%, 1) 0%, transparent 100%),
    radial-gradient(at 35.22% 24.23%, hsla(267, 23%, 79%, 1) 0%, transparent 100%),
    radial-gradient(at 53.95% 4.91%, hsla(228, 5%, 80%, 1) 0%, transparent 100%),
    radial-gradient(at 88.19% 86.52%, hsla(236, 50%, 93%, 1) 0%, transparent 100%),
    radial-gradient(at 80.6% 15.19%, hsla(210, 46%, 79%, 1) 0%, transparent 100%),
    radial-gradient(at 26.73% 61.69%, hsla(267, 23%, 79%, 1) 0%, transparent 100%),
    radial-gradient(at 23.69% 25.82%, hsla(228, 5%, 80%, 1) 0%, transparent 100%),
    radial-gradient(at 0.18% 28.85%, hsla(236, 50%, 93%, 1) 0%, transparent 100%),
    radial-gradient(at 29.56% 81.7%, hsla(210, 46%, 79%, 1) 0%, transparent 100%),
    radial-gradient(at 88.39% 89.17%, hsla(267, 23%, 79%, 1) 0%, transparent 100%);
  --complex-gradient-dark:
    radial-gradient(at 53.28% 60.18%, hsla(236, 50%, 25%, 0.8) 0%, transparent 100%),
    radial-gradient(at 6.61% 61.35%, hsla(210, 46%, 35%, 0.7) 0%, transparent 100%),
    radial-gradient(at 35.22% 24.23%, hsla(267, 23%, 40%, 0.6) 0%, transparent 100%),
    radial-gradient(at 53.95% 4.91%, hsla(228, 5%, 30%, 0.5) 0%, transparent 100%),
    radial-gradient(at 88.19% 86.52%, hsla(236, 50%, 25%, 0.8) 0%, transparent 100%),
    radial-gradient(at 80.6% 15.19%, hsla(210, 46%, 35%, 0.7) 0%, transparent 100%),
    radial-gradient(at 26.73% 61.69%, hsla(267, 23%, 40%, 0.6) 0%, transparent 100%),
    radial-gradient(at 23.69% 25.82%, hsla(228, 5%, 30%, 0.5) 0%, transparent 100%),
    radial-gradient(at 0.18% 28.85%, hsla(236, 50%, 25%, 0.8) 0%, transparent 100%),
    radial-gradient(at 29.56% 81.7%, hsla(210, 46%, 35%, 0.7) 0%, transparent 100%),
    radial-gradient(at 88.39% 89.17%, hsla(267, 23%, 40%, 0.6) 0%, transparent 100%);
  --complex-gradient-active: var(--complex-gradient-light);
}

[data-theme='dark'] {
  --complex-gradient-active: var(--complex-gradient-dark);
}

[data-theme='light'] {
  --complex-gradient-active: var(--complex-gradient-light);
}
